.container,
.smallerContainer {
    margin: 0 auto;
    width: max(70%, 265px);
}

.cardLink {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    padding-bottom: 10px;
}

.infoWithIcon {
    display: grid;
    grid-template-columns: 48px auto;
}

.infoWithIcon > span > img {
    max-height: 48px !important;
    min-height: 48px !important;
}

.headerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 10px;
}

.imageContainer {
    width: 100%;
}

.cardHeader {
    font-size: 18px;
    font-weight: 900;
    color: black;
    text-align: left;
    text-transform: capitalize;
}

@media (min-width: 480px) {
    .container {
        width: 400px;
    }

    .smallerContainer {
        width: 300px;
        height: 100%;
    }
}

@media (min-width: 768px) {
    .container,
    .smallerContainer {
        width: 100%;
    }
}